@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');


body {
    background-color: rgb(223, 227, 236);
}


.game {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
}


h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    font-family: montserrat;
}


#game-area {
    height:200px; 
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}


.game-options {
    text-align: center; 
}

button {
    background:lightblue;
    font-size:18px;
    padding: 15px 30px;
    border-radius: 10px;
    margin-top: 20px;
    font-family: 'Red Hat Mono', monospace; 
    width:150px;
}

button:active {
    background:lightgreen;
}


.score {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#c-count,
#p-count {
    text-align: center;
    margin-top: 10px;
}

.home {
    padding: 20px;
    font-size: 18px;
    float:left;
}

@media (max-width: 750px){
    h1 {
        font-size: 24px;
    }

    .home {
        font-size:15px;
        padding:10px;
    }

    h2 {
        font-size:18px;
    }
}