h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    font-family: league gothic;
}

.home-page p {
    font-size: 18px;
    font-family: oxygen;
}

#games-section {
    display:flex;
    width:100%;
    align-items: center;
    justify-content: center;
}

.games {
    display:block;
}


.button1 {
    width: 15%; 
    height: 50px;
    /* padding: 20px; */
    margin-right: 50px;
}

.button2 {
    width: 15%; 
    height: 50px;
    /* padding: 20px; */
    margin-right: 50px;
}

.button3 {
    width: 15%; 
    height: 50px;
    /* padding: 20px; */
    margin-right: 50px;
}