body {
    background-color:rgb(223, 227, 236);
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    font-family: montserrat;
}

.home-page p {
    font-size: 18px;
    font-family: oxygen;
    padding: 10px;
}

#games-section {
    display:flex;
    width:100%;
    align-items: center;
    justify-content: center;
}

.games {
    display:block;
    padding: 20px; 
    /* width:30%; */
    text-align: center;
}

.image {
    height:400px;
    width: 350px;
    border:2px solid black; 
    margin-bottom: 15px;
}

.button {
    background:lightblue;
    font-size:15px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    font-family: 'Red Hat Mono', monospace; 
    border:solid 2px; 
    border-color: black;
}

.button:active {
    background:lightgreen;
}

@media (max-width: 1200px) {
    .image {
        height:250px;
        width:250px;
    }
}
@media (max-width:850px) {
    #games-section {
        display: block;
        justify-content: center;
        align-items: center;
    }
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color:  black;
    text-align: center;
    padding-top: 50px;
  }

.footer a {
    color:blue;
}